html, body {
    margin: 0;
    padding: 0;
    background: #ccc;
}
#BannerBar {
    height: 120px;
    background: #a7bca5;
}
#navBar {
    height: 20px;
    background: green;
    margin-top:60px;
    position:absolute;
    width:100%;
}
#logowrapper
{
height:40px;
width:100%;padding:10px;
}
