html, body {
    margin: 0;
    padding: 0;
    background: #ccc;
}
#contentWrapper {
    width: 500px;
    margin: 0 auto;
    background: #ffffff;
    height: 300px;
    z-index:100;
    position:relative;
}
#BannerBar {
    height: 40px;
    background: blue;
}
#navBar {
    height: 20px;
    background: green;
    margin-top:60px;
    position:absolute;
    width:100%;
}
#logowrapper
{
height:40px;
width:100%;padding:10px;
}
#NavigationWrapper
{
width:100%;
height:20px;
background-color:green;
    text-align:center;
}
#footerBar {
    height: 40px;
    background: red;
}