html, body {
    margin: 0;
    padding: 0;
    background: #ccc;
}
#BannerBar {
    height: 120px;
    background: #a7bca5;
}
#NavigationWrapper {
    text-align: right;
    padding-right: 40px;
}
